/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	End Reset
*/
body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.8rem;
	font-weight: lighter;
	background-color: #000;
	background-image: url("../img/photo-1425036458755-dc303a604201.jpeg");
	background-size: cover;
	letter-spacing: 0.05rem;
}
/*div {
	border: 1px solid red;
}*/
.container {
	max-width: 38%;
	margin: 0 auto;
	margin-top: 10%;
	padding-top: 5%;
	height: 50%;
	/*background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  	transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);*/
	margin-bottom: 10%;
}
.title, .interactive-list, .etc {
	text-align: center;
	opacity: .7;
	color: #FDFCFD;

}
.interactive-list {
	margin: 1rem;
	padding: 3rem;
}
li {
	padding-top: 1rem;
}
.interactive-list hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}
.etc {
	font-size: 1rem;
	margin-bottom: 10%;
}
.remove {
	float: left;
	padding-top: .2rem;
	color: red;
}
.check-off {
	float: right;
	padding-top: .2rem;
	color: green;
}